$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;

// Height variables
$carousel-item-height: 300px;

.footer{
    background-color: $background-pale;
}

.jumbotron {
    background: $background-light ;
    color:floralwhite;
}

.navbar-dark {
    background-color: $background-dark;
}

.carousel {
    background:$background-dark;

    .carousel-item {
        height: $carousel-item-height;
        img {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 300px;
        }
    }
}

#carouselButton {
    right:0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.modal-header{
    background-color:$background-dark;
    color:white ;
    .close{
        color:$background-pale ;
    }
}
.modal-body{
    background-color:$background-pale ;
}